{% extends 'base.html.twig' %}

{% block title %}Nos annonces{% endblock %}

{% block body %}
 {# {{dump(ads)}} #}
 <div class="container">
    <div class="row">
        {% for ad in pagination.data %}
            {% include "ad/_ad.html.twig" %}
        {% endfor %}
        {{pagination.display()}}
    </div>
 </div>
{% endblock %}
