{% extends "base.html.twig" %}
{% block title %}Annonces: Création{% endblock %}

{# {% form_theme myForm 'bootstrap_5_layout.html.twig' %} #}

{% block body %}
<div class="container">
    <h1>Création d'une annonce</h1>
    {{ form_start(myForm) }}

        {{ form_widget(myForm) }}
        <button type="submit" class="btn btn-primary mt-3">Création d'une annonce</button>


    {{ form_end(myForm) }}


</div>

{% endblock %}

